html{
  height:100%;
}
body{
  height:100%;
  margin: 0;
  display: flex;
  background-color: black;
}
#sidebar{  
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    margin-top: 2%;
  }

  #searchside, #listside, #saveside, #statsside{
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    align-content: center;
    overflow-x: hidden;
    overflow-y: scroll;
    overflow: hidden;
  }
  

  #sidebar a {
    
    padding: 0.2rem;
    padding-left: 0.1rem;
    padding-top: 1rem;
    text-decoration: none;
    font-size: 2rem;
    color: white;
    font-weight: bolder;
    display: block;
  }

  .sidebar a:hover {
    color: #f1f1f1;
  }


#countryChoose, #yearChoose, #weaponChoose{
    position: relative;
    top: 1%;
    width: 60%;
    display:block;
    margin: 0;
}
#searchside label{
  margin: 0 auto;
  color: white;
  position: relative;

}

#selectForm{
  position: relative;
  left: 40%;
  top: 4%;

}

.btn{
    height: 3rem;
    width: 8rem;
    margin-top: 3rem;
    color: black;
    font-weight: bolder;
    font-size: 2rem;
    background-color: rgb(113, 223, 113);
    border-radius:5%;
    border:0.1rem solid white;
}
.butoane{
    position: relative;
    left: 40%;
    width: 50%;
  top: 15%;
    height: 70%;
}

.btn4,.btn5,.btn6 {
    height: 6rem;
    width: 10rem;
    margin-top: 3rem;
    color: black;
    font-weight: bolder;
    font-size: 2rem;
    background-color: rgb(113, 223, 113);
    border-radius: 5%;
    border: 0.1rem solid white;
}

.closebtn{
  background-color: #282828;
  border: 0.1rem solid #DB1717;
  color: white;
  border-radius: 15%;
  display:block;
  position: relative;
  left:90%;
  top: 3%;
}

#map{
  height:100%;
  float: right;
  position: relative;
  margin-left: auto;
  flex-grow: 1;
}

.country,.year,.weapon{
  display: block;
}
