<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" href="../views/news.css">
</head>
<body>
<h2>
Last news from
<a href="https://www.foxnews.com/category/world/terrorism">Fox News</a>
</h2>
 {% for value in values %}
 <ul>
     <li>  {{value}} </li>
  </ul> 
  {% endfor %}
</body>

</html>