label{
    display:block;
}

select{
    float: left;
}

.map{
    position: absolute;
    top: 3%;
    left: 25%;
    width: 1000px;
    height: 900px;
  
  }

.columnchart_values{
    position: absolute;
    top: 3%;
    left: 25%;
    width: 900px;
    height: 900px;

  
  }  

  .piechart_3d{
    position: absolute;
    top: 3%;
    left: 25%;
    width: 900px;
    height: 2000px;

  
  } 

body{
    display:flex;
    width: 100%;
    flex-wrap: wrap;
}

input{
    display:block;
}

.closebtn{
    position: relative;
    display: inline-block;
    outline:none;
    background: transparent;
    border: none;
    color: gray;
}

#list{
position:relative;
height: 100%;
float: right;
display: block;
overflow: visible;
}


@media only screen and (min-width: 1100px) {
    #list, input, select, label {
        font-size: 1rem;
        margin: 1px;
      }
      select{
          width: 200px;
      }
      #list{
        width: 79%;
      }

  }

  @media only screen and (max-width: 1100px) {
    #list, input, select, label {
        font-size: 2rem;
        margin: 1px;
      }
      #list{ width: 100%;}
  }

th{
    background: lightgray;
    position:sticky;
    top:0;
}

td,th{
    border: 1px solid black;
    text-align: center;
}
#param{
    display:block;
    float:left;
    width: 20%;
}

