@import url('https://fonts.googleapis.com/css?family=Raleway:200');
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_menu{
  width: 100%;
  max-width: 122.5rem;
  margin: 0 auto;
  padding: 0 2.4rem;

}



body {
  font-family: 'Raleway', sans-serif;
  background:#eee;
}

:root{
  --main-font: 'Source Sans Pro', sans-serif;
  --secondary-font: 'Herr Von Muellerhoff', cursive;
  --body-font: 'Cabin', sans-serif;
  --main-font-color-dark: #5f074c3a;
  --secondary-font-color: #c59d5f;
  --body-font-color: #515151;
}

.close .wrapper{
  display: none;
}

.wrapper {
  position: absolute;
  top: 20%;
  left: 45%;
  width: 400px;
  height: 600px;
  perspective: 900px;
  margin-left: 7rem;
}

.close .wrapper_selects{
  display: none;
}

.wrapper_selects {
  position: absolute;
  top: 20%;
  left: 45%;
  width: 400px;
  height: 600px;
  perspective: 900px;
  float: right;
  margin-left: 10px;
}

img{
    width: 100%;
    max-width: 100%;
}
.logo img{
  width: 40px;
  margin-top: -7px;
  margin-right: 48px;
  align-items: center;
  justify-content: center;
}

.nav{
  height: 7.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


header{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), transparent);
}

.box{
  background: radial-gradient(circle at top left, #0bb5d4, #b0135c), radial-gradient(circle at top left, #0bb5d4, #b0135c);
  color: radial-gradient(circle at top left, #0bb5d4, #b0135c), radial-gradient(circle at top left, #0bb5d4, #b0135c);
  margin-top: 1.5rem;
  justify-content: initial;
  padding: .9rem 1.8rem;
  border: 2px solid transparent;
  border-radius: 20px;
  font-size: 1.1rem;
  box-shadow: 0 5px 25px rgba(0, 0, 0, .5);
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  justify-content: initial;
}


.btn{
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  
}

.cta-btn {
  box-shadow: 0 5px 25px rgba(0, 0, 0, .5);
  font-size: 1.1rem;
  margin-top: 1.5rem;
  justify-content: initial;
  text-decoration: none;
  padding: .9rem 1.8rem;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 20px;
  background-image: radial-gradient(circle at top left, #0bb5d4, #b0135c), radial-gradient(circle at top left, #0bb5d4, #b0135c);
  background-origin: border-box;
  background-clip: content-box, border-box;
  transition: background-color .5s;
  letter-spacing: 2px;
  margin-right: -2px;
}

  .cta-btn:hover
  .cta-btn:focus {
      color: #fff;
      background-color: var(--secondary-font-color);
  }


  
label{
    display:block;
}

select{
    float: left;
}



body{
    display:flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

input{
    display:block;
}

.closebtn{
    position: relative;
    display: inline-block;
    outline:none;
    background: transparent;
    border: none;
    color: gray;
}

#list{
position:relative;
height: 100%;
width: 100%;
display: block;
overflow: visible;
}

#map{
margin-top: 130px;
margin-left: 5px;
margin-bottom: 50px;
position: relative;
width: 1000px;
height: 1000px;
float: left;

}




  

@media only screen and (min-width: 1100px) {
    #list, input, select, label {
        font-size: 1rem;
        margin: 1px;
      }
      select{
          width: 200px;
      }
      #list{
        width: 79%;
      }

  }

  @media only screen and (max-width: 1100px) {
    #list, input, select, label {
        font-size: 2rem;
        margin: 1px;
      }
      #list{ width: 100%;}
  }

th{
    background: lightgray;
    position:sticky;
    top:0;
}

td,th{
    border: 1px solid black;
    text-align: center;
}

#param{

    background: url("../views/assets/pic_8.gif") center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 50vh;
    margin-right: 30vh;
    padding: 10rem 4rem 4rem 4rem;
    text-align: center;
    float: right;

    
}

